/.idea/*
!/.idea/codeStyles/
!/.idea/runConfigurations/
!/.idea/compiler.xml
!/.idea/encodings.xml
!/.idea/jarRepositories.xml
!/.idea/misc.xml
!/.idea/vcs.xml

/.vscode/*
!/.vscode/settings.json

target/
build/
out/